<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <header>
        <div class="Container_Logo">
            <img src="{% static 'Logo.svg' %}" alt="Logo" width="100">
            <div class="Container_Ueberschrift">
                <h1>Willkommen bei DigiDish</h1>
                <p> Ihrer Lösung für die digitale Mahlzeitenverwaltung</p>
            </div>
        </div> 
    </header>
    <main>
        <video width="100%" height="360" controls>
            <source src="{% static 'salad.mp4' %}" type="video/mp4">
        </video>
        <div class="Container">
            <a href="{% url 'login' %}" class="button">Go to Login Page</a> 
        </div> 
    </main>
    <footer>
        <p>&copy; 2025 DigiDish</p>
    </footer>
</body>
</html>
