<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Titel</title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1>Neuen Account anlegen</h1>
    </header>
    <!-- Main Content Area -->
    <main>
        
<form method="post">
    {% csrf_token %}
    
    <label for="first_name">Vorname:</label>
    <input type="text" id="first_name" name="first_name" required>

    <label for="last_name">Nachname:</label>
    <input type="text" id="last_name" name="last_name" required>

    <label for="role">Position:</label>
    <select id="role" name="role" required>
        <option value="gruppenleitung">Gruppenleitung</option>
        <option value="standortleitung">Standortleitung</option>
    </select>

    <label for="location">Standort:</label>
    <select id="location" name="location" required>
        <option value="1">Standort 1</option>
        <option value="2">Standort 2</option>
        <option value="3">Standort 3</option>
    </select>

    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" class="Bestaetigung">Account anlegen</button>
</form>

<a href="{% url 'verwaltung_dashboard' %}">Zurück zum Dashboard der Verwaltung</a>
>
    </main>
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 DigiDish</p>
    </footer>
</body>
</html>
