<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>DigiDish</h1>
        <p> >> Login zur Kontoverwaltung</p>
    </header>
    <main>
        <div class="Container">
            <form method="POST">
                {% csrf_token %}
                <input class="Eingabefeld" type="text" id="username" name="username" placeholder="Benutzername" required>
                <br>
                <input class="Eingabefeld" type="password" id="password" name="password" placeholder="Passwort" required>
                <br>
                <button class="Bestaetigung" type="submit">Login</button>
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 DigiDish</p>
    </footer></body>
</html>
