
body {
    background-color: #9EC5FE;
    color: #212529;
}

.Eingabefeld {
    width: 240px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #212529;
    border-radius: 12px;
    transition: all 0.3s ease;
    margin-bottom: 16px;
}

.Eingabefeld:hover {
    border-color: #0D6EFD; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    transform: scale(1.05);
}

.Bestaetigung {
    width: 262px;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 0px;
    background-color: #084298;
    color: white;
    transition: all 0.3s ease;
    margin-top: 12px;
    margin-bottom: 16px;
}

.Bestaetigung:hover { 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
    transform: scale(1.05);
}

.Bestaetigung:active {
    background-color: #052C65;
}

.Container {
    display: grid;                       
    place-items: center;         
    gap: 15px;   
    height: 80vh;               
}