<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Titel</title>
</head>
<body>
    <!-- Header -->
    <header>
        <h1> Überschrift </h1>
    </header>
    <!-- Main Content Area -->
    <main>
        <p> alle Elemente </p>
    </main>
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 DigiDish und weiter Infos </p>
    </footer>
</body>
</html>