<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>CafeteriaDashboard</title>
</head>
<body>
<!-- Header -->
    <header>
        <h1> Essensausgabe </h1>
        <!-- Logout -->
        <div class="Container_Header">
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="Ausloggen">Logout</button>
            </form>
        </div>
    </header>
    <!-- Main Content Area -->
    <main>
        <!-- Linker Container, welcher die Essensauswahl anzeigt --> 


        <!-- Rechter Container, welcher die Bestellübersicht anzeigt -->



    </main>
    <!-- Footer -->
    <footer>
        <p>&copy; 2025 DigiDish</p>
    </footer>
</body>
</html>