<!-- group_dashboard.html -->
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>StandortleitungDashboard</title>
    </head>
    <h2>Standortleitung Dashboard</h2>

    {% if user.is_authenticated %}
        <h3>Welcome, {{ user.username }}</h3>
        <p>Your Location: {{ user.location }}</p>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
        <!-- Display Staff -->
        <h3>Staff at your Location</h3>
        {% if users %}
            <ul>
                {% for staff in users %}
                    <li>{{ staff.first_name }} {{ staff.last_name }} (Role: {{ staff.role }} - Staff-ID: {{ staff.id }})</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Currently no Staff at your Location.</p>
        {% endif %}

        <!-- Form to Add a New Order -->
        <h3>Add a Member</h3>
        <form method="POST" action="{% url 'add_member' %}">
            {% csrf_token %}

            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" required>
            <br>

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" required>
            <br>     

            <label for="group_id">Group-ID:</label>
            <input type="number" name="group_id" id="group_id" min="0" required>
            <br>  

            <label for="location">Location:</label>
            <select name="location" id="location" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <br>
            
            
            <button type="submit">Add Member</button>
        </form>

        <!-- Display Members -->
        <h3>Members at your Location</h3>
        {% if members %}
        <form method="POST" action="{% url 'delete_members' %}">
            {% csrf_token %}
            <ul>
                {% for member in members %}
                    <li>
                        <input type="checkbox" name="members_to_delete" value="{{ member.id }}">
                        {{ member.first_name }} {{ member.last_name }} (ID: {{ member.id }})
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Delete Selected Members</button>
        </form>
        {% else %}
            <p>No members found at your Location.</p>
        {% endif %}


    {% else %}
        <p>You need to <a href="{% url 'login' %}">log in</a> to view this page.</p>
    {% endif %}
</html>